# ide stuff
.vscode/
.idea/
**/__pycache__/**
**/ENV/**
**/VENV/**
**/**.env
**/.env/**
.env
.venv
env/
venv/
.pytest_cache/
.env.local
.env.development.local
.env.test.local
.env.production.local

# paths
/Website*/node_modules/
/Website*/coverage
/Website*/.next/
/Website*/out/
/Website*/data/docs
/Website*/public/images/logo.png
/Database/
/DatabaseBackups/
/redis.conf/

# secret setting files
**/secrets.txt
**/settings.py

# file types
**/*.log
**/**.sock
**/**.pnp
**/**.pnp.js
