.vscode/
.idea/
config.py
cache/
*.content
__pycache__/
*.json
*.xlsx
test.py
.gitignore
userlist
Lib/
tcl/
Include/
Scripts/
.ipynb_checkpoints/
test.ipynb
*.png
share/
raiddata/friendpickle
*.sqlite3
*.log
images/
venv/
database/rasputinCheck.py
database/steamPlayerData.pickle
database/steamPlayerData.pickle.bckp
database/seals.pickle
database/whisperKills.pickle
functions/bounties/channelIDs.pickle
functions/bounties/currentBounties.pickle
functions/bounties/playerBountyStatus.pickle
functions/bounties/competitionBountiesLeaderboards.pickle
4611686018470637201
oauth/
bbenv/
checkpoint/