.vscode/
.idea/
config.py
cache/
*.content
__pycache__/
*.json
*.xlsx
test.py
.gitignore
userlist
Lib/
tcl/
Include/
Scripts/
.ipynb_checkpoints/
test.ipynb
*.png
share/
raiddata/friendpickle
*.sqlite3
*.log
images/
venv/
database/rasputinCheck.py
