aiohttp==3.5.4
APScheduler==3.6.3
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
discord.py==1.2.5
Flask==1.1.1
fuzzywuzzy==0.17.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
multidict==4.6.1
numpy==1.17.4
pandas==0.25.3
pycparser==2.19
pyOpenSSL==19.1.0
python-dateutil==2.8.1
python-Levenshtein==0.12.0
pytz==2019.3
requests==2.22.0
six==1.13.0
tzlocal==2.0.0
urllib3==1.25.7
websockets==6.0
Werkzeug==0.16.0
XlsxWriter==1.2.6
yarl==1.4.1