aiohttp[speedups]==3.8.1
aiohttp_client_cache==0.5.2

# aiohttp_client_cache currently requires this version
aioredis==1.3.1
anyio==3.5.0
apscheduler==3.9.1
cachetools==5.0.0
dateparser==1.1.1
gtts==2.2.4
ics==0.7
matplotlib==3.5.1
git+https://github.com/Discord-Snake-Pit/NAFF@9172c8913e099f8a673a2914fa5a4bc6afbbc3d9#egg=naff[voice]
# naff[voice]==1.0.0
orjson==3.6.8
pandas==1.4.1
pillow==9.1.0
psutil==5.9.0
pydantic==1.9.0
PyGithub==1.55
python-dateutil==2.8.2
rapidfuzz==2.0.7
rich==12.3.0
toml==0.10.2
tzdata==2022.1
