aiohttp[speedups]==3.8.1
aiohttp_client_cache==0.5.2
aioredis==1.3.1     # aiohttp_client_cache currently requires this version
# aiohttp_client_cache[redis]==0.7.0
anyio==3.6.1
apscheduler==3.9.1
bungio==0.4.1
cachetools==5.2.0
dateparser==1.1.1
gtts==2.2.4
ics==0.7.2
matplotlib==3.5.2
naff[voice]==1.7.1
orjson==3.7.11
pandas==1.4.3
pillow==9.2.0
psutil==5.9.1
pydantic==1.9.1
PyGithub==1.55
python-dateutil==2.8.2
rapidfuzz==2.4.2
rich==12.5.1
toml==0.10.2
tzdata==2022.1
